git+https://github.com/google-research/timesfm.git
chronos-forecasting>=2.0
accelerate
torch
numpy
pandas
scikit-learn
matplotlib
tqdm
protobuf
sentencepiece
optuna
hmmlearn
catboost
shap
lightgbm
scipy
pyarrow
openpyxl
joblib
tabulate
xgboost
seaborn
pandas-market-calendars
yfinance
pillow
